<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigff.blog.mapper.BlogMapper">

    <resultMap id="blogMap" type="com.bigff.blog.entity.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="appreciation" property="appreciation"/>
        <result column="commentabled" property="commentabled"/>
        <result column="content" property="content"/>
        <result column="create_time" property="create_time"/>
        <result column="first_picture" property="first_picture"/>
        <result column="flag" property="flag"/>
        <result column="published" property="published"/>
        <result column="recommend" property="recommend"/>
        <result column="share_statement" property="share_statement"/>
        <result column="update_time" property="update_time"/>
        <result column="views" property="views"/>
        <result column="type_id" property="type_id"/>
        <result column="user_id" property="user_id"/>
        <result column="description" property="description"/>
        <collection ofType="com.bigff.blog.entity.Type" property="type">
            <id column="type_id" property="typeId"/>
            <result column="typename" property="typeName"/>
        </collection>
        <collection ofType="com.bigff.blog.entity.User" property="user">
            <id column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="avatar" property="avatar"/>
        </collection>
        <collection ofType="com.bigff.blog.entity.Tag" property="tags">
            <id column="tagid" property="tagId"/>
            <result column="tagname" property="tagName"/>
        </collection>
    </resultMap>

    <resultMap id="getBlogListMap" type="com.bigff.blog.entity.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="appreciation" property="appreciation"/>
        <result column="commentabled" property="commentabled"/>
        <result column="content" property="content"/>
        <result column="create_time" property="create_time"/>
        <result column="first_picture" property="first_picture"/>
        <result column="flag" property="flag"/>
        <result column="published" property="published"/>
        <result column="recommend" property="recommend"/>
        <result column="share_statement" property="share_statement"/>
        <result column="update_time" property="update_time"/>
        <result column="views" property="views"/>
        <result column="type_id" property="type_id"/>
        <result column="user_id" property="user_id"/>
        <result column="description" property="description"/>
        <result column="comment_count" property="comment_count"/>
        <collection  ofType="com.bigff.blog.entity.Type" property="type">
            <id column="type_id" property="typeId"/>
            <result column="typename" property="typeName"/>
        </collection>
        <collection ofType="com.bigff.blog.entity.User" property="user">
            <id column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="avatar" property="avatar"/>
        </collection>

    </resultMap>




<!--    根据id查询博客-->
    <select id="findBlogById" parameterType="Long" resultMap="blogMap">
      SELECT b.*,t.*,ty.*,u.userid,u.username FROM
              t_blog  b INNER JOIN
              t_blog_tags bt on
               b.id = bt.blogs_id  INNER JOIN
               t_tag  t on
               bt.tags_id = t.tagid  INNER JOIN
               t_user  u on
               b.user_id = u.userid  INNER JOIN
               t_type ty ON
               b.type_id = ty.typeid
               where b.id = #{id}
      </select>

<!--    更新博客-->
    <update id="updateBlog" parameterType="com.bigff.blog.entity.Blog">
          update t_blog set
           appreciation = #{blog.appreciation},
           commentabled = #{blog.commentabled},
           content = #{blog.content},
           create_time = #{blog.create_time},
           first_picture = #{blog.first_picture},
           flag = #{blog.flag},
           published = #{blog.published},
           recommend = #{blog.recommend},
           share_statement = #{blog.share_statement},
           title = #{blog.title},
           update_time = #{blog.update_time},
           views = #{blog.views},
           type_id = #{blog.type_id},
           user_id = #{blog.user_id},
           description = #{blog.description}
           where id = #{blog.id}
      </update>


<!--    删除对应博客的标签-->
    <delete id="deleteTags">
        delete from t_blog_tags where blogs_id = #{blog_id}
    </delete>

<!--    新增博客-->
    <insert id="insertBlog" parameterType="com.bigff.blog.entity.Blog" useGeneratedKeys="true" keyProperty="id">

          insert  into t_blog values(
        #{blog.id},
        #{blog.appreciation},
        #{blog.commentabled},
        #{blog.content},
        #{blog.create_time},
        #{blog.first_picture},
        #{blog.flag},
        #{blog.published},
        #{blog.recommend},
        #{blog.share_statement},
        #{blog.title},
        #{blog.update_time},
        #{blog.views},
        #{blog.type_id},
        #{blog.user_id},
        #{blog.description},
        #{blog.comment_count}
        )
      </insert>

<!--    新增博客中的标签-->
    <insert id="insertTags">
        INSERT INTO t_blog_tags
        (blogs_id,tags_id)
        VALUES
        <foreach collection="param2" item="tags_id" separator=",">
            (#{blog_id}, #{tags_id})
        </foreach>

    </insert>


    <resultMap id="getBlogByTypeIdMap" type="com.bigff.blog.entity.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="appreciation" property="appreciation"/>
        <result column="commentabled" property="commentabled"/>
        <result column="content" property="content"/>
        <result column="create_time" property="create_time"/>
        <result column="first_picture" property="first_picture"/>
        <result column="flag" property="flag"/>
        <result column="published" property="published"/>
        <result column="recommend" property="recommend"/>
        <result column="share_statement" property="share_statement"/>
        <result column="update_time" property="update_time"/>
        <result column="views" property="views"/>
        <result column="type_id" property="type_id"/>
        <result column="user_id" property="user_id"/>
        <result column="description" property="description"/>
        <collection ofType="com.bigff.blog.entity.Type" property="type">
            <id column="type_id" property="typeId"/>
            <result column="typename" property="typeName"/>
        </collection>
        <collection ofType="com.bigff.blog.entity.User" property="user">
            <id column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="avatar" property="avatar"/>
        </collection>
    </resultMap>

<!--    根据分类查找博客-->
    <select id="getBlogByTypeId" resultMap="getBlogByTypeIdMap" parameterType="Long">
         SELECT b.*,ty.*,u.userid,u.username,u.avatar FROM
              t_blog  b INNER JOIN
               t_user  u on
               b.user_id = u.userid  INNER JOIN
               t_type ty ON
               b.type_id = ty.typeid
               where b.type_id = #{id}
    </select>


    <resultMap id="getBlogByTagIdMap" type="com.bigff.blog.entity.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="appreciation" property="appreciation"/>
        <result column="commentabled" property="commentabled"/>
        <result column="content" property="content"/>
        <result column="create_time" property="create_time"/>
        <result column="first_picture" property="first_picture"/>
        <result column="flag" property="flag"/>
        <result column="published" property="published"/>
        <result column="recommend" property="recommend"/>
        <result column="share_statement" property="share_statement"/>
        <result column="update_time" property="update_time"/>
        <result column="views" property="views"/>
        <result column="type_id" property="type_id"/>
        <result column="user_id" property="user_id"/>
        <result column="description" property="description"/>
        <collection ofType="com.bigff.blog.entity.Type" property="type">
            <id column="type_id" property="typeId"/>
            <result column="typename" property="typeName"/>
        </collection>
        <collection ofType="com.bigff.blog.entity.User" property="user">
            <id column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="avatar" property="avatar"/>
        </collection>
        <collection ofType="com.bigff.blog.entity.Tag" property="tags">
            <id column="tagid" property="tagId"/>
        </collection>
    </resultMap>

<!--    根据标签查找博客-->
    <select id="getBlogByTagId" resultMap="getBlogByTagIdMap" parameterType="Long">
        SELECT b.*,t.*,ty.*,u.userid,u.username,u.avatar FROM
              t_blog  b INNER JOIN
              t_blog_tags bt on
               b.id = bt.blogs_id  INNER JOIN
               t_tag  t on
               bt.tags_id = t.tagid  INNER JOIN
               t_user  u on
               b.user_id = u.userid  INNER JOIN
               t_type ty ON
               b.type_id = ty.typeid
               where t.tagid = #{id}
    </select>

<!--    查询所有博客-->
    <select id="getBlogList" resultMap="getBlogListMap">
        SELECT b.*,ty.*,u.userid,u.username,u.avatar FROM
        t_blog b INNER JOIN
        t_user u on
        b.user_id = u.userid INNER JOIN
        t_type ty ON
        b.type_id = ty.typeid
        <if test="tagId != null">
            INNER JOIN
            t_blog_tags bt ON
            b.id = bt.blogs_id INNER JOIN
            t_tag t ON
            t.tagid = bt.tags_id
        </if>
        <where>
            <if test="title != null ">
                b.title like CONCAT('%',#{title},'%')
            </if>
            <if test="typeId != null">
                and b.type_id = #{typeId}
            </if>
            <if test="tagId != null">
                and t.tagid  = #{tagId}
            </if>
            <if test="dateStart != null">
                and b.update_time &gt;= #{dateStart}
            </if>
            <if test="dateEnd != null">
                and b.update_time &lt;= #{dateEnd}
            </if>
        </where>
        Order By b.create_time Desc
    </select>

    <!--文章访问自增-->
    <update id="updateViews" parameterType="Blog">
        update t_blog b set b.views = b.views+1 where b.id = #{id}
    </update>

    <!--查询出文章评论数量并更新-->
    <update id="getCommentCountById" parameterType="Blog">
        update t_blog b set b.comment_count = (
        select count(*) from t_comment c where c.blog_id = #{id} and b.id = #{id}
        ) WHERE b.id = #{id}
    </update>
<!--    查询所有浏览数量-->
    <select id="getAllViews" resultType="Integer">
        select sum(views) FROM t_blog
    </select>

<!--    查询所有评论数量-->
    <select id="getAllComments" resultType="Integer">
        select sum(comment_count) FROM t_blog
    </select>
</mapper>