<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigff.blog.mapper.TypeMapper">
    <resultMap id="getBlogAllTypeMAp" type="Type">
        <id column="typeid" property="typeId"></id>
        <result column="typename" property="typeName"></result>
        <collection property="blogs" ofType="Blog">
            <result column="id" property="id"></result>
        </collection>
    </resultMap>

<!--    根据分类查询所有博客-->
    <select id="getBlogAllType" resultMap="getBlogAllTypeMAp">
        SELECT * FROM t_type t LEFT JOIN
            t_blog b ON
            t.typeid = b.type_id

    </select>
</mapper>